/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: block;
  unicode-bidi: isolate;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 150%;
  justify-content: center;
  margin-top: 170px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header a {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  color: #69a1c7;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.ldbutton {
  margin-left: 60%;
  padding-top: 5%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  
}
.backbutton {
  margin-left: 30%;
  padding: 1%;
}
.post-container {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr;
  /* Set one column */
  justify-content: center;
  gap: 2.5rem;
}

.post-box {
  border: 1px solid black;
  border-radius: 40px;
  text-align: center;
  padding: 15px;
}

footer {
  background-color: black;
  /* Change to the desired color */
  text-align: center;
  padding: 10px 0;
  /* Adjust padding as needed */
}

/* unvisited link */
a:link {
  color: #69a1c7;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #69a1c7;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #69a1c7;
  text-decoration: none;
}

.title {
  background-color: #69a1c7;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  color: white;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: inline-block;
}

.post-content {
  margin-top: 5px;
  color: #555;
  line-height: 1.5;
}

.form-style {
  max-width: 50%;
  width: 100%;
  height: 75%;
  margin: auto;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  padding: 40px;
  padding-top: 50px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 80vh;
  text-align: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.post-submit-btn {
  background-color: #69a1c7;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}


@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  header {
    padding: 0px;
    display: flex;
    text-align: center;
  }

  .post-container {
    margin-top: 80px;
  }
}

@media screen and (max-width: 380px) {
  header {
    padding: 0px;
    display: flex;
    text-align: center;
  }

  .logo {
    margin-left: 5%;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .post-box {
  border: 1px solid white;
}

.dark-mode .post-content {
  color: #CCC
}
